<div class="row">

  <div class="col-lg-8">
<app-sale-overview></app-sale-overview>
  </div>
  
  <div class="col-lg-4">
    <div class="row">

      <div class="col-lg-12 col-sm-6">
        <app-total-sales></app-total-sales>
      </div>

      <div class="col-lg-12 col-sm-6">
        <app-total-visitor></app-total-visitor>
      </div>
    </div>
  </div>

 <!-- <div class="col-lg-4">
    <app-latest-orders></app-latest-orders>
  </div> -->

  <div class="col-lg-12">
    <app-top-selling-product></app-top-selling-product>
  </div>
    <div class="col-lg-6">
    <app-sales-by-category></app-sales-by-category>
  </div>

  <div class="col-lg-6">
    <app-sales-by-region></app-sales-by-region>
  </div>
</div>

